*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --blue : #3b5998;
    --lightgrey: #b9b9b9;
}
.header{
    height: 3rem;
    padding: 0.6rem 2rem;
    border-bottom: 1px solid var(--lightgrey);
}
.header span:nth-child(1){
    font-size: 1.5rem;
    font-weight: 700;
}
.header span:nth-child(2){
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue);
}